@import './theme.module.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

ol,
ul {
    list-style: none;
}

a {
    all: unset;
    cursor: pointer;
    text-decoration: none;
}

body {
    font-family: var(--font-family-primary);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: var(--line-height-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-secondary);
    color: var(--text-color);
    line-height: var(--line-height-heading);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--link-hover-color);
}

button {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-base);
    background-color: var(--primary-color);
    color: var(--button-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: var(--box-shadow-light);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: var(--button-hover-color);
    box-shadow: var(--box-shadow-heavy);
}