.header {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--button-color);
    position: relative;
}

.link {
    margin: auto;
}

.title {
    font-size: 1.8rem;
    font-family: var(--font-family-secondary);
    color: var(--button-color);
    text-align: center;
    flex-grow: 1;
}