.menuContainer {
    position: relative;
    z-index: 2;
}

.hamburgerMenu {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.line {
    width: 30px;
    height: 3px;
    background-color: var(--button-color);
    margin: 5px 0;
    transition: all 0.4s ease;
}

.change .firstLine {
    transform: rotate(45deg) translate(5px, 5px);
}

.change .secondLine {
    transform: rotate(-45deg) translate(5px, -5px);
}

.menuExpanded {
    position: absolute;
    top: 60px;
    left: 0;
    width: 200px;
    background-color: var(--primary-color);
    color: var(--button-color);
    border-radius: 4px;
    box-shadow: var(--box-shadow-light);
    padding: 1rem;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.menuList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuList li {
    margin-bottom: 1rem;
}

.menuList li a {
    color: var(--button-color);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-base);
    text-decoration: none;
    transition: color 0.3s ease;
}

.menuList li a:hover {
    color: var(--secondary-color);
}