.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 1rem;
    padding: 2rem;
    background-color: var(--background-color);
}

.noProductsMessage {
    text-align: center;
    font-size: 1.25rem;
    color: var(--text-secondary-color);
    margin: 2rem 0;
}